@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  scroll-behavior: smooth;
  width: 0.375rem;
}

::-webkit-scrollbar-thumb {
  background-color: #2c1a74;
  border-radius: 0.5rem;
}

* {
  font-family: "Poppins", sans-serif;
}

html {
  overflow-x: hidden;
  font-size: 100%;
}

body::before {
  content: "";
  position: fixed; /* fixed instead of absolute to stay in place while scrolling */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/public/noise-texture.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: -1;
  pointer-events: none; /* allows clicking through to elements below */
}

body {
  background-color: #000000;
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gradient-stroke-text {
  -webkit-text-stroke: 0.125rem transparent; /* Stroke width and transparency */
  background: linear-gradient(
    8deg,
    #7338ac 0%,
    #625ad8 50%,
    #239ce4 80%,
    #87f3ff 100%
  ); /* Gradient for stroke */
  -webkit-background-clip: text;
  background-clip: text;
}

.gradient-stroke-text4 {
  -webkit-text-stroke: 0.25rem transparent; /* Stroke width and transparency */
  background: linear-gradient(
    to top right,
    #7338ac 0%,
    #625ad8 50%,
    #239ce4 80%,
    #87f3ff 100%
  ); /* Gradient for stroke */
  -webkit-background-clip: text;
  background-clip: text;
}

.gradient-text {
  background: linear-gradient(
    to top right,
    #7338ac 23%,
    #625ad8 47%,
    #239ce4 70%,
    #87f3ff 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
.bg-gradient-box {
  background: linear-gradient(to top right, #7338ac, #625ad8, #239ce4, #87f3ff);
}

.link-text-box {
  position: relative;
}

.link-text-box:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2rem;
  padding: 0.08125rem;
  background: linear-gradient(to right, #7338ac, #625ad8, #239ce4, #87f3ff);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
  pointer-events: none;
}

.link-text-box-active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2rem;
  padding: 0.08125rem;
  background: linear-gradient(to right, #7338ac, #625ad8, #239ce4, #87f3ff);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
  pointer-events: none;
}

.banner-video video {
  @apply bg-gradient-to-tr from-[#7338AC] via-[#239CE4] to-[#87F3FF] p-[0.09375rem] h-full w-full object-cover;
}

@layer utilities {
  .wrapper {
    @apply max-w-7xl mx-auto px-4 md:px-8;
    /* @apply max-w-6xl mx-auto px-5 lg:px-[1.5rem]; */
  }
  .heading-1 {
    @apply text-[2.75rem] md:text-[4.5rem] lg:text-7xl font-bold leading-tight;
  }
  .heading-2 {
    @apply text-[1.625rem] md:text-[3rem] lg:text-5xl font-bold !leading-tight;
  }
  .heading-3 {
    @apply text-[1.375rem] md:text-[2.25rem] lg:text-[1.75rem] font-bold leading-tight;
  }
  .desc {
    @apply text-[0.9375rem] sm:text-[1rem] lg:text-base font-poppins font-light;
  }
  .white-btn {
    @apply bg-white text-black border w-fit border-black cursor-pointer tracking-wide hover:-translate-y-1 shadow-2xl shadow-transparent rounded-full px-[1rem] lg:px-4 py-[0.75rem] lg:py-3 min-w-[7rem] flex justify-center text-center transition-all duration-300 font-light text-[0.875rem] lg:text-[.9rem] hover:!bg-gradient-to-tr hover:text-white from-[#7338AC] to-[#87F3FF] via-[#239CE4] hover:!border-none;
  }
  .black-btn {
    @apply bg-black hover:bg-[#87F3FF] text-white border w-full sm:w-fit border-white cursor-pointer tracking-wide hover:-translate-y-1 shadow-2xl shadow-transparent rounded-full px-[1rem] lg:px-4 py-[0.75rem] lg:py-3 min-w-[7rem] flex justify-center text-center transition-all duration-300 font-light text-[0.875rem] lg:text-[.9rem] hover:!bg-gradient-to-tr from-[#7338AC] to-[#87F3FF] via-[#239CE4] hover:!border-none;
  }
  .gradient-btn {
    @apply bg-gradient-to-tr cursor-pointer tracking-wide hover:-translate-y-1 shadow-2xl shadow-transparent rounded-full px-[1rem] lg:px-4 py-[0.75rem] lg:py-3 min-w-[7rem] flex justify-center text-center transition-all duration-300 font-light text-[0.875rem] lg:text-[.9rem];
  }
  .btn-styles {
    @apply hover:shadow-white cursor-pointer tracking-wide hover:-translate-y-1 shadow-2xl shadow-transparent rounded-full px-[1rem] lg:px-4 py-[0.75rem] lg:py-3 min-w-[7rem] flex justify-center text-center transition-all duration-300 font-light text-[0.875rem] lg:text-[.9rem];
  }
  .rounded-text-box {
    @apply px-[1rem] lg:px-4 py-[0.75rem] lg:py-3 rounded-full font-raleway min-w-[10rem] flex justify-center border text-[0.875rem] lg:text-[.9rem] w-fit font-bold;
  }
  .gradient-rounded-text-box {
    @apply px-[1rem] lg:px-4 py-[0.75rem] lg:py-3 rounded-full font-raleway min-w-[10rem] flex justify-center border text-[0.875rem] lg:text-[.9rem] w-fit bg-gradient-to-r from-[#7186FF_30%] to-primary font-bold border-primary bg-clip-text text-transparent;
  }
  .link {
    @apply cursor-pointer hover:text-primary transition-colors duration-200;
  }
}

/* menu offcanvas styles */
.EZDrawer__container {
  background: #000000 !important;
  width: 100vw !important;
  min-height: 100vh !important;
  overflow-y: scroll;
  z-index: 99 !important;
}

.EZDrawer__overlay {
  z-index: 90 !important;
}

/* banner video */
#banner video {
  object-fit: cover;
}

/* loading spinner styles */
.spinner-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.726);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
}

.loader {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 0.1875rem solid;
  border-color: #fff #fff transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 0.1875rem solid;
  border-color: transparent #019cf8 #019cf8;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.service-banner video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-position: right;
}